body{
    margin: 0;
    padding: 0;
}
.icon{
    width: 9vh;
    height: 9vh;
}
.text20{
    font-size: 2vh;
}
.text30{
    font-size: 5vh;
}
.text40{
    font-size: 6vh;
}
.text50{
    font-size: 8vh;
}
.start_screen_text {
    font-size: 9vh;
    color: #000000;
    text-shadow:
            -0   -1px 0   #FFFFFF,
            0   -1px 0   #FFFFFF,
            -0    1px 0   #FFFFFF,
            0    1px 0   #FFFFFF,
            -1px -0   0   #FFFFFF,
            1px -0   0   #FFFFFF,
            -1px  0   0   #FFFFFF,
            1px  0   0   #FFFFFF,
            -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
            -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF,
            -1px -1px 0   #FFFFFF,
            1px -1px 0   #FFFFFF,
            -1px  1px 0   #FFFFFF,
            1px  1px 0   #FFFFFF;
    text-align: center;
}
.container-hide{
    display:none;
}
div{
    font-family: Arial;
}

div#start_screen{
    position: absolute;
    height: 100%;
    width: 101%;

    background: -webkit-linear-gradient(45deg, rgb(0, 0, 0, 0.9), rgba(54, 165, 204, 0.9));
    background: -moz-linear-gradient(45deg, rgb(0, 0, 0, 0.9), rgba(54, 165, 204, 0.9));
    background: linear-gradient(45deg, rgb(0, 0, 0, 0.9), rgba(54, 165, 204, 0.9));
    display: flex;
    flex-direction: column;

}
div#difficulty_buttons{
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.difficulty-button1{
    font-size: 2.5vh;
    background: rgb(94, 98, 96);
    max-width: 15vh;
    max-height: 15vh;
    min-width: 15vh;
    min-height: 15vh;
}
.difficulty-button2{
    font-size: 2.5vh;
    background: #1e7e34;
    max-width: 15vh;
    max-height: 15vh;
    min-width: 15vh;
    min-height: 15vh;
}
.difficulty-button3{
    font-size: 2.5vh;
    background: #6db92d;
    max-width: 15vh;
    max-height: 15vh;
    min-width: 15vh;
    min-height: 15vh;
}
.difficulty-button4{
    font-size: 2.5vh;
    background: #d0c22f;
    max-width: 15vh;
    max-height: 15vh;
    min-width: 15vh;
    min-height: 15vh;
}
.difficulty-button5{
    font-size: 2.5vh;
    background: #b44b2d;
    max-width: 15vh;
    max-height: 15vh;
    min-width: 15vh;
    min-height: 15vh;
}
.difficulty-button6{
    font-size: 2.5vh;
    background: #ff0000;
    max-width: 15vh;
    max-height: 15vh;
    min-width: 15vh;
    min-height: 15vh;
}
.difficulty-button7{
    font-size: 2.5vh;
    background: #5d39b6;
    max-width: 15vh;
    max-height: 15vh;
    min-width: 15vh;
    min-height: 15vh;
}
.difficulty-button8{
    font-size: 2.5vh;
    background: #dd02ff;
    max-width: 15vh;
    max-height: 15vh;
    min-width: 15vh;
    min-height: 15vh;
}
.difficulty-button9{
    font-size: 2.5vh;
    background: #ff00dd;
    max-width: 15vh;
    max-height: 15vh;
    min-width: 15vh;
    min-height: 15vh;
}
.difficulty-button10{
    font-size: 2.5vh;
    background: #00ffc4;
    max-width: 15vh;
    max-height: 15vh;
    min-width: 15vh;
    min-height: 15vh;
}
.submit_button{
    background: rgba(255, 250, 0, 0);
    max-width: 50vh;
    max-height: 20vh;
    min-width: 50vh;
    min-height: 20vh;
    margin: auto;
    font-size: 6vh;
}

div#game{
    display: flex;
    flex-direction: row;
}

div#interface{
    max-width: 100vh;
    /*border: 1px solid black;*/
}
div#day{
    text-align: center;
}
div#numbers{
    display: flex;
    justify-content: space-around;
}
div#resources{
    text-align: center;
}
table#table_of_resources{
    /*border: 1px solid black;*/
    border-collapse: separate;
    border-spacing: 10px 7px;
}
table#table_of_resources td{
    /*border: 1px solid black; Без обводки красивее*/
    text-align: center;

}

div#grow_resources{
    text-align: center;
}
table#table_of_grow_resources{
    /*border: 1px solid black;*/
    border-collapse: separate;
    border-spacing: 10px 7px;
}
table#table_of_grow_resources td{
    /*border: 1px solid black; Без обводки красивее*/
    text-align: center;

}

div#buildings{
    text-align: center
}
table#table_of_buildings{
    /*border: 1px solid black; Без обводки красивее*/
    border-collapse: separate;
    border-spacing: 10px 7px;
}
table#table_of_buildings td{
    /*border: 1px solid black; Без обводки красивее*/
    text-align: center;
}

div#game-info{
    border: 1px solid black;
}
table#table_of_info{
    /*border: 1px solid black;*/
    border-collapse: separate;
    border-spacing: 10px 7px;
    margin: auto;
    height: 30vh;
}
table#table_of_info td{
    border: 1px solid black;
    font-size: 3vh;
}


div#control{
    max-width: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
div#control_buttons{
    margin-top: 10px;

}
div#new_day_button{
    margin-top: 20px;
}
div#info{
    max-width: 75vh;
    /*border: 1px solid black;*/
    text-align: center;
}

div#messages{
    display: flex;
    flex-direction: column;
}
output#space_for_message{
    border: 1px solid black;
    width: 75vh;
    height: 45vh;
    word-wrap: break-word;
    overflow: scroll;

}